name: Main Branch

on:
  push:
    branches: [ "main", "master" ]

jobs:
  check-code:
    uses: ./.github/workflows/reusable.yml

  build-and-publish:
    needs: check-code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Custom Action (Check Dockerfile)
        uses: ./.github/actions/check-file
        with:
          filename: 'dockerfile'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nowatorski-projekt-indywidualny:latest